body {
    margin: 0px 0px 0px 0px;
}

.home__header {
    display: flex;
    background-color: #11009E;
    height: 64px;
    justify-content: space-between;
}

.header__logo {
    width: auto;
    height: 60px;
    margin-left: 2%;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input[type="text"] {
    width: 50vw;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color:#D9D9D9;
    outline: none;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button {
    padding: 8px 12px;
    background-color: #705DF5;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.navbar > button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.sign-in-button {
    background-color: #fff;
    color:#4942E4 ;
}

.log-in-button {
    background-color: #4942E4;
    color: #fff;
}

.navbar > button:hover {
    background-color: #0056b3;
}

.navbar > button:focus {
    outline: none;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    background-image:url(calc-bg.jpg);
    display:grid;
    margin-bottom:150px;
    height:50wh;

}

.carousel-deskripsi {
    display:flex;
    width:50vw;
    flex-wrap:wrap;
}

.carousel-img {
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 250px;
    height: 370px;
}

.wrapper {
    display: grid;
    grid-template-areas:
    'header'
    'content'
    'footer';
    background-color: #F8F1F1;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11009E;
    /* border-radius: 0px 0px 30px 30px; */
}

.masuk {
    margin-right: 5%;
}

.text {
    display: flex;
    align-item: center;
    flex-direction: column;
    width: 50vw;
}

.masukkan-beli {
    display: flex;
}

.masukkan {
    margin-left: 10vw;
}

.beli {
    margin-left: 20vw;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}