body {
    margin: 0px 0px 0px 0px;
}

.wrapper {
    display:flex;
    flex-direction:column;
    background-color: #FFF;
    color: #000000;
    font-family: Montserrat;
}

.home__header {
    position:fixed;
    display: flex;
    background-color: #FFFFFF;
    height: 64px;
    justify-content: space-between;
    align-items:center;
    width:100vw;
}

.logo {
    margin-left:20px;
    display:flex;
    align-items:center;
}

.header__logo1 {
    width: auto;
    height: 60px;
    margin-left: 2%;
}

.header__logo2 {
    width: auto;
    height: 30px; 
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input[type="text"] {
    width: 50vw;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color:#D9D9D9;
    outline: none;
}

.search-button:hover {
    background-color: #8696FE;
}

.search-button {
    padding: 8px 12px;
    background-color: #705DF5;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.login-signin {
    display:flex;
    align-items:center;
    margin-right:20px;
}

.login-signin > button {
    padding: 12px 20px;
    font-size: 16px;
    border: solid #4942E4 1px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.sign-in-button {
    background-color: #fff;
    color:#4942E4 ;
}

.sign-in-button:hover {
    background-color:#D9D9D9;
}

.log-in-button {
    background-color: #4942E4;
    color: #fff;
}

.log-in-button:hover {
    background-color:#8696FE;
}

.login-signin > button:focus {
    outline: none;
}

.navbar {
    position:fixed;
    display:flex;
    height:40px;
    margin-top:64px;
    justify-content:space-between;
    align-items:center;
    background-color:#11009E;
    width:100vw;
}

.navbar__btn {
    margin-left:40px;
    margin-right:40px;
}

.navbar__btn > button {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:#11009E;
    border:none;
    color:#FFF;
}

.navbar__btn > button:hover {
    border-radius: 10px;
    background: #FFF;
    color:#11009E;
    fill:#11009E;
}

#navbar__left > button {
    margin-left:35px;
}

#navbar__right {
    display:flex;
    align-items:center;
}

#navbar__right > button {
    display:flex;
    align-items:center;
    padding: 7px;
    margin-right:20px;
}

#navbar__right > button:hover {
    background:#4942E4;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top:104px;
}

.slide {
    display:grid;
    background-image:url(images/calc-bg.jpg);
    margin-bottom:150px;
    height:400px;
    border-radius:0px 0px 40px 40px;
}

.slide-text {
    margin-left:70px;
    margin-top:30px;
}

.carousel__populer {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin:0px;
}

.carousel__buku {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0px;
}

.carousel__toko {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0px;
}

.carousel__deskripsi {
    display:flex;
    width:50vw;
    flex-wrap:wrap;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin:5px;
}

.masukkan-beli {
    display:flex;
    align-items:center;
    margin-bottom:20px;
    margin-top:80px;
}

.masukkan-beli > button:hover {
    background-color:#FFF388;
}

.btn-masukkan, .btn-beli {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 15px 15px 15px 19px;
    background-color: #FFE814;
    color: #000;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;   
    margin-left:175px;
    text-align:center;
    height:40px;
    font-weight: 600; 
}

.btn-masukkan > svg {
    margin-left:5px;
}

.carousel-img {
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 250px;
    height: 370px;
    border-radius:11px;
}

.header-toko-terbaik {
    display:flex;
    justify-content:space-between;
}

.toko-container {
    margin-left:100px;
    margin-right:100px;
}

.toko__container {
    display:flex;
    height:400px;
}

.toko {
    display:grid;
    background-image:url(images/calc-bg.jpg);
    border-radius:25px;
    width: 300px;
}

.toko-info {
    display:flex;
    margin:150px 0px 0px 0px;
    flex-direction:column;
    justify-content:center;
    background-color:#11009E;
    border-radius: 25px;
}

.toko__nama {
    display:flex;
    justify-content:center;
}

.toko-rating {
    display:flex;
    font-size: 15px;
    justify-content:space-around;
}

.btn-kunjungi {
    display:flex;
    justify-content: center;  
    margin-bottom:25px;
}

.btn__kunjungi {
    background-color:#FFE814;
    border-radius:15px;
    width: 150px;
    height: 50px;
}

.btn__kunjungi:hover {
    background-color:#FFF16F;
}

.rekomendasi_buku {
    margin-top:30px;
}

.header-rekomendasi {
    display: flex;
    justify-content:space-between;
}

.buku-container {
    display:flex;
    height:400px;

}

.buku {
    display:flex;
    border-radius:25px;
    width:300px;
    flex-direction:column;
}

.buku__img {
    border-radius:25px 25px 0px 0px;
    height:65%;
}

.buku__container {
    display:flex;
    background-color:#11009E;
    border-radius:0px 0px 25px 25px;
    flex-direction:column;
    height:35%;
}

.buku__judul {
    margin-left:25px;
}

.buku__info {
    display:flex;
    margin-bottom:15px;
    align-items:center;
    justify-content:space-around;
}

footer {
    display: flex;
    background-color:#11009E;
    color: #FFFFFF;
    font-family: Montserrat;
}
